!!!
%html
  %head
    %title #{@page_title} - Vinus
    = stylesheet_link_tag 'vinus/application'
    = javascript_include_tag 'vinus/application'
    = csrf_meta_tags
    :javascript
      window.Vinus = {}
      window.Vinus.currencyUnit = "#{h Vinus.settings.currency_unit}";
  %body
    %nav.sidebar
      %header.logo
        %h1= link_to "Vinus", root_path
        %p v#{Vinus::VERSION}
      %p.logged= t('.logged_in_as', user_name: current_user.full_name)

      %ul
        - for item in Vinus::NavigationManager.find(:admin_primary).items
          %li= navigation_manager_link item

        %li= link_to t('.logout'), [:logout], :method => :delete

    %header.main
      = yield :header

    #content
      = display_flash
      %section.main
        = yield

    %footer
      %p.store= link_to "&larr; #{t('.goto')} #{Vinus.settings.store_name}".html_safe, '/'
