- @page_title =  t('vinus.sessions.reset_password')

= display_flash
.loginArea
  %h2= t('vinus.sessions.reset_password')
  = form_tag :login_reset, :class => 'login' do
    %p.field
      = text_field_tag 'email_address', params[:email_address], :class => 'focus', :placeholder => t('vinus.sessions.email')
    %p.submit
      = submit_tag t('vinus.sessions.reset')  , :class => 'button green'
    %p.reset
      = link_to t('vinus.sessions.back_to_login') , login_path
