- @page_title = t('vinus.countries.countries')

= content_for :header do
  %p.buttons=link_to t('vinus.countries.new_country') , :new_country, class: 'button green'
  %h2.countries= t('vinus.countries.countries')

.table
  %table.data
    %thead
      %tr
        %th= t('vinus.countries.name')
        %th= t('vinus.countries.iso_alpha_2')
        %th= t('vinus.countries.iso_alpha_3')
        %th= t('vinus.countries.continent')
        %th= t('vinus.countries.tld')
        %th= t('vinus.countries.eu?')
    %tbody
      - for country in @countries
        %tr
          %td= link_to country.name, [:edit, country]
          %td= country.code2
          %td= country.code3
          %td= country.continent
          %td= country.tld
          %td= boolean_tag country.eu_member?
